<center><h3>Please enter your plurk information</h3>
<form method="post">
<lable name="username">Username:</lable>
<input type="text" name="username"/><br/>
<lable name="password">Password:</lable>
<input type="text" name="password"/>
<lable name="email">Email (used in git):</lable>
<input type="text" name="email"/>
<input type="submit" value="Go!"/>
</form>
</center>